DATABASE_URL="postgresql://usuario:contraseña@localhost:5433/fondo_empleados"
PORT=3000
NODE_ENV=development

JWT_SECRETO_ACCESO="cambiar-esto-en-produccion-acceso-2026"
JWT_SECRETO_REFRESCO="cambiar-esto-en-produccion-refresco-2026"
JWT_MINUTOS_ACCESO=15
JWT_DIAS_REFRESCO=7